.section-1{
	position: absolute;
	top: 10px;
	left: 20px;
	height: 300px;
	width: 40%;
}
.section-2{
	height: 246px;
	width: 30%;
	position: absolute;
	left: 378px;
	top: 204px;
	background: white;
}
.section-3{
	position: absolute;
	top: 471px;
	left: 20px;
	width: 72%;
	height: 280px;
}
.section-4{
	position: absolute;
	right: 18px;
	top: 8px;
	height: 600px;
	width: 35%;
	background: white;
}
div{
	border: 1px solid black;
	padding: 10px;
}